{% extends 'base.html' %}

{% block body %}
    <div class="site-wrapper animated">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">VocalEyes</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/browse">Browse</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">VocalEyes</h1>
            <p class="lead">Document your local issues or good initiatives <br>by capturing them in photos.</p>
<!--             <p class="lead">
              <a href="#" class="btn btn-lg btn-success"><i class="fa fa-android"></i>Android</a>
              <a href="#" class="btn btn-lg btn-success"><i class="fa fa-apple"></i>iOS</a>
            </p> -->
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; VocalEyes 2014</p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% end %}


